*{
    font-family: 'Roboto', sans-serif;    
}

.titulotarefas {
    font-size: xx-large;
    color: rgb(225, 238, 238);  
}

.colunatarefas {
    background-color: rgb(72, 80, 96);    
    width: 700px;
    padding: 20px;
    margin: 20px auto 0;   
}

.botaoadictarefas {
    height: 30px;
    background-color: rgb(4, 38, 70); 
    color: rgb(225, 238, 238); 
    font-size: large;
    cursor: pointer;   
}

.botaoremover {
    background-color:rgb(72, 80, 96);    
    cursor: pointer;    
}

.campotarefas {
    width: 595px; 
    height: 23px;
}

.listatarefas {
    color: rgb(225, 238, 238);

}


